* {
    font-family: 'ComicNeue-Regular';
}
.mt-56px{
    margin-top: 56px;
}
h1, a {
    font-family: 'ComicNeue-Bold';
}
@font-face {
    font-family: 'ComicNeue-Bold';
    src: url('../fonts/ComicNeue-Bold.ttf');
}
@font-face {
    font-family: 'ComicNeue-Regular';
    src: url(../fonts/ComicNeue-Regular.ttf);
}
